html {
    background-color: #ebfafa;
}

body {
    margin: 0;
}
header {
    font-family: 'Dancing Script', cursive;
}

#Kristy {
    font-size: 5rem;
    text-decoration-line: underline;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 5%;
}

#search {
    height: 1rem;
    background-color: white;
}

#navbar {
    margin-top: 0%;
    font-size: 1rem;
    word-spacing: 1rem;
    justify-content: space-between;
    flex-direction: row;
}

.navbar {
    color: white;
    padding:3mm;
    border-radius: 1rem;
    display: inline-block;
}

.navbar img {
    height: 2rem;
    border-radius: 1rem;
    display: block;
}

p {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 18%;
}

.info {
    color: black;
    font-size: 1rem;
    justify-content: center;
    margin-top: 1%;
}


.picbutton {
    border-radius: 5rem;
    width: 40%;
    height: 40%;
}

#about-me {
    height: 40%;
    border-radius: 5rem;
    width: 40%;
}

.row-container {
    display: flex;
    background-color: none;
    padding: 5% 5% 0 5%;
    justify-content: space-around;
}

.text-container{
    width: 40%;
    display: flex;
    flex-direction: column;
}

#project-list {
    display: flex;
    justify-content: center;
}

.header {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}


#background-header {
    position: absolute;
    top: 0px;
    z-index: -1;
    border-radius: 1rem;
    width: 100%;
    margin-left: 0mm;
    margin-bottom: 0;
}


form {
    display: inline-block;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #0f0130;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid darkviolet;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #0f0130;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid purple;
    background-color: purple;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

@media (max-width:600px) {
    .row-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #mail-icon {
        display: none;
    }

    #Kristy {
        font-size: 2rem;
    }


}

footer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 7%;
}